
h2 {
    color: var(--class-color, black); /* Default to black if the variable isn't set */
}


.content-container {
    display: flex;
    gap: 2rem;
    /* DEBUG border: 2px solid red; */
}
.content-box {
    flex: 1;
}

